
.form{
  text-align: center;
  position: absolute;
  top: 5%;
  left: 35%;
	width: 100%;
	padding: 10px 10px 50px 10px;
	background-color: #fff;
	background: rgba(0,0,0,0.1);
	margin-top:20px;
	border-radius:9px;
  max-width: 400px;
    
	}

  .divbtntareas{
    text-align: center;

  }
  
  

  .input{
    color:#000;
    font-family:principal;
    line-height:22px;
    outline: none;
    border: 1px solid #020202;
    padding-bottom:0px;
    font-size:20px;
    margin-bottom:15px;
    background-color:#fff;
    padding: 3px 3px 3px 3px;
    width: 85%;
    height: 25px;
    border-radius: 5px;
    } 

  .sele{
      height: 34px;
      width: 42%;
     }
     
  .inputvalor{
      width: 42%;
    } 
   
  
  .submit-btn {
    margin-left: 0;
    border: 1px solid #00ac09d0;
    outline: none;
    background: #fff;
    color: #00ac09d0;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    width:40%;
  }

  .btn-table{
    font-size: 12px;
    padding: 2px 2px 2px 2px;
    color: #ff0202;
  }

  

  .inf{
    color: #ff0202;
  }

  .btn-elim{
    margin-left: 0;
    border: 1px solid #00ac09d0;
    outline: none;
    background: #fff;
    color: #ff0202;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    width:100%;

  }


  .submit-btn:hover, .btn-elim:hover {
    background: #00ac09d0;
    color: #fff;
  }

  .table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
  }


  







input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



#fswal{
  background: rgba(0,0,0,0.1);
	width: 80%;
	padding: 5px 5px 20px 5px;
	background-color: #fff;
	
	margin-top:5px;
	border-radius:9px;
    max-width: 300px;
	}

  .popup-form{    /* con esta clase cambiamos de tamaño el swal */
    width: 100px;
    max-width: 400px;
    background: rgba(0,0,0,0.6);
    
  }


  
   
